body {
    background-color: #FC42AA;
    color: white;
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-Serif;
}

.center-align-xxl {
    font-size: 8em;
    text-align: center;
    text-transform: uppercase;
}