body {
    background-color: #FC42AA;
    margin: 0;
}

h1 {
    height: 100vh;
    color: white;
    display: flex;
    font-size: 5em;
    align-items: center;
    justify-content: center;
    font-family: Sans-Serif;
    text-shadow: 0 0 20px orangered;
}

.center-align-xxl {
    text-align: center;
    text-transform: uppercase;
}